In [1]:
import pandas as pd

In [11]:
df = pd.DataFrame({
    "track": ["Kamigata To Boots", "Funiculì funiculà", "Delayed Because of Accident", "Dragons in the Sunset", "Soul People", "Chains"],
    "city": ["Shelbyville", "Springfield", "Shelbyville", "Shelbyville","Springfield", "Shelbyville"],
    "day": ["Monday", "Wednesday","Monday" , "Friday", "Wednesday", "Friday"]
})
df.head(6)

                         track         city        day
0            Kamigata To Boots  Shelbyville     Monday
1            Funiculì funiculà  Springfield  Wednesday
2  Delayed Because of Accident  Shelbyville     Monday
3        Dragons in the Sunset  Shelbyville     Friday
4                  Soul People  Springfield  Wednesday
5                       Chains  Shelbyville     Friday

In [14]:
pd.pivot_table(df, index=["city", "day"], values=["track"], aggfunc=('count')).head(3)

                       track
city        day
Shelbyville Friday         2
            Monday         2
Springfield Wednesday      2